<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Awesome Person's Website</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <!-- header of your website -->
  <header>
    <h1>⋆༺𓆩 Awesome Person's Website 𓆪༻⋆</h1>
  </header>

  <!-- main section -->
  <main>
    <!-- bio section -->
    <section class="bio">
      <div class="profile-picture">
        <!-- profile photo -->
        <img src="./img/pfp.jpg" alt="Your Profile Picture">
      </div>
      <p>
        Hello! My name is "awesome person's name". I am secretly batman and no one knows it yet. If you are reading this that means i trust you with my deepest darkest secret. Keep it safe or im gonna send robin after you >:)
      </p>
    </section>    
  </main>

  <!--links to check out (put your social medias here or anything you want! maybe a google drive link to your resume?? ;) )-->
  <div class="section-header"> Links </div>
  <section class="profile-cards">
    <a href="https://example.com" target="_blank" class="card">
      <img src="./img/example.png" alt="example">
      <p>Example</p>
    </a>
    <a href="https://example.com" target="_blank" class="card">
      <img src="./img/example.png" alt="example">
      <p>Example</p>
    </a>
    <a href="https://example.com" target="_blank" class="card">
      <img src="./img/example.png" alt="example">
      <p>Example</p>
    </a>
  </section>

  <div class="section-header"> Photo Gallery </div>

  <!-- put cool photos here! -->
  <div class="photo-gallery">
    <img src="./img/example.png" alt="example">
    <img src="./img/example.png" alt="example">
    <img src="./img/example.png" alt="example">
    <img src="./img/example.png" alt="example">
  </div>

  <div class="section-header"> Contact </div>
  <div class="contact-section">
    <p>
      <a href="mailto:example@example.com">example@example.com</a><br>
      (909)-909-9090
    </p>
  </div>


</body>
</html>